#logout__button:hover{
    color: #A1A1A1;
}
#logout__button{
    transition: 0.3s;
    color: #adcce9;
}
#account__button{
    transition: 0.3s;
}
#account__button:hover{
    color: #A1A1A1;
    text-decoration: none;
}