#cha,#long{
    position: fixed;
    right: -100px;
    bottom: 0   ;
    z-index: 99;
    opacity: 1;
    transition: 1s;
    padding: 0;
}

.hidden {
    z-index: -1;
}

.alert-success{
    color: white;
    background-color: #db545a;
    border-color: #db545a;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}