#alert__location2{
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;

}

#rating-0{
    margin-left: 105px  ;
    position: relative;
}
#rating-1{
    margin-left: 105px  ;
    position: relative;
}
#rating-2{
    margin-left: 105px  ;
    position: relative;
}
#rating-3{
    margin-left: 105px  ;
    position: relative;
}
#rating-4{
    margin-left: 105px  ;
    position: relative;
}
#rating-5{
    margin-left: 105px  ;
    position: relative;
}
#rating-6{
    margin-left: 105px  ;
    position: relative;
}
#rating-7{
    margin-left: 105px  ;
    position: relative;
}
#rating-8{
    margin-left: 115px  ;
    position: relative;
}
#rating-9{
    margin-left: 115px  ;
    position: relative;
}

